<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <h1><%=currentDate%> </h1>
  <ul>
    <li>Cook</li>
    <li>Eat</li>
    <li>play</li>
  </ul>
  <form>
    <input name="listItem" type="input" placeholder="Item">
    <button type="submit">Add Item</button>
  </form>
</head>

<body>
</body>

</html>