<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <h1><%=currentDate%> </h1>
  <ul>
    <% for( let i = 0; i < items.length; i++ ) { %>
   <li><%= items[i] %> </li> 
    <% } %>
  </ul>
  <form action="/" method="post">
    <input name="listItem" type="text" placeholder="Item">
    <button type="submit">Add Item</button>
  </form>
</head>

<body>
</body>

</html>